
.section {
    background-color: inherit;
    padding: 60px 0;

    @media (min-width: 1200px) {
        padding: 94px 0;
    }

    // &__title {
    //         font-size: 36px;
    //         line-height: 1.17;
    //         text-align: center;
    //         letter-spacing: 0.03em;
    //         margin-bottom: 50px;
    //     }
}

