.hero {
    max-width: 1600px;
    margin: 0 auto;
    padding: 118px 0;
    background-color: var(--color-background-tertiary);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2ppx) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile@2x.jpg);
    }

    @media (min-width: 768px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet.jpg);

            @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2ppx) {
                    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet@2x.jpg);
                }
    }

    @media (min-width: 1200px) {
        padding: 200px 0;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desktop.jpg);

            @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2ppx) {
                    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desktop@2x.jpg);
                }
    }

    &__title {
            max-width: 360px;
            color: var(--color-action-primery);
            font-size: 26px;
            line-height: 1.615;
            font-weight: 900;
            text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30px;

        @media (min-width: 1200px) {
            max-width: 696px;
            font-size: 44px;
            line-height: 1.36;
        }
        }
}

