
.what-we-do {
    background-color: inherit;
    padding: 94px 0;

    &__title {
            @include section-title;
        }

    &__list {
            display: flex;
            gap: 30px;
        }

    @media (max-width: 1199px) {
        display: none;
    }
}

.box {
    position: relative;

    &__title {
            display: flex;
            position: absolute;
            width: 370px;
            height: 70px;
            margin: 0;
            justify-content: center;
            align-items: center;
            bottom: 0;
            font-size: 14px;
            text-align: center;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: var(--color-action-primery);
            background: rgba(47, 48, 58, 0.8);
        }
}



