
// @mixin section {
//     background-color: inherit;
//     padding: 94px 0;
// }

@mixin section-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}