:root {
    --color-primery: #212121;
    --color-secondary: #757575;
    --color-logo: #000;
    --color-action-primery: #FFF;
    --color-action-secondary: #2196F3;
    --color-button-action: #188CE8;
    --color-button-border: #EEE;
    --color-background-primery: #F5F5F5;
    --color-background-secondary: #F5F4FA;
    --color-background-tertiary: #C4C4C4;
    --color-section-background: #2F303A;
    --color-icon-primary: #AFB1B8;
    --project-card-gap: 30px;
    --action-duration: 250ms;
    --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}